:root {
  --primary-color: #7c0c15;
  --secondary-color: #003399;
  --hover-color: #ff9900;
  --background-color: #fff;
  --active-line-color: #000;
}

/* BAGIAN RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

/* BAGIAN BODY */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

/* BAGIAN MAIN-NAV-CONTAINER (Untuk Desktop) */
.main-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* BAGIAN LOGO*/
.logo img {
  height: 80px;
  width: 100px;
}

/* Humburger/Close Icon (Menyembunyikan secara default di desktop) */
.menu-toggle {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--primary-color);
  position: relative;
}

.menu-toggle .bi-list {
  display: block;
}

.menu-toggle .bi-x-circle {
  display: none;
}

/* BAGIAN NAVBAR (Desktop) */

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar ul li {
  position: relative;
  border-right: 1px solid #ccc;
}

.navbar ul li:last-child {
  border-right: none;
}

.navbar ul li a {
  display: block;
  position: relative;
  font-weight: 500;
}

.navbar ul li a {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #000;
  text-align: center;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.navbar ul li a:hover {
  color: var(--hover-color);
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--active-line-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.navbar ul li a.active::after {
  transform: translateX(0);
}

.navbar ul li a:hover::after {
  transform: translateX(0);
}

/* BAGIAN NAVBAR DROPDOWN (Desktop)*/
.navbar ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  min-width: 220px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  flex-direction: column;
}

.navbar ul li ul.dropdown.show {
  display: flex;
}

.navbar ul li ul.dropdown li {
  width: 100%;
  border-right: none;
}

.navbar ul li ul.dropdown li a {
  display: block;
  padding: 12px 25px;
  text-align: left;
  font-size: 16px;
  color: var(--secondary-color);
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.navbar ul li ul.dropdown li a:hover {
  background-color: var(--hover-color);
  color: white;
}

/* BAGIAN NAVBAR DROPDOWN KONTAK KAMI (Desktop)*/

.navbar ul li ul.dropdown li ul.dropdown-kontak {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--background-color);
  min-width: 220px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  flex-direction: column;
}

.navbar ul li ul.dropdown li ul.dropdown-kontak.show {
  display: flex;
}

.navbar ul li ul.dropdown li ul.dropdown-kontak li {
  width: 100%;
}

.navbar ul li ul.dropdown li ul.dropdown-kontak li a {
  display: block;
  padding: 12px 25px;
  text-align: left;
  font-size: 16px;
  color: var(--secondary-color);
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.navbar ul li ul.dropdown li ul.dropdown-kontak li a:hover {
  background-color: var(--hover-color);
  color: white;
}

/* Bagian Landing Page */

.background {
  background-image: url(image/foto\ sekolahan.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.background::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
  pointer-events: none;
}

.background h1 {
  font-family: "Noto Naskh Arabic", sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.background h2 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: var(--hover-color);
  z-index: 10;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.background .animasi .animasi-text li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  position: absolute;
  font-size: 40px;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: var(--hover-color);
  z-index: 10;
  white-space: nowrap;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.background .animasi .animasi-text li span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-right: 4px solid var(--hover-color);
  color: var(--hover-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  0%,
  100% {
    border-color: var(--hover-color);
  }
  50% {
    border-color: var(--hover-color);
  }
}

/* Bagian Poin Unggulan */

.poin-unggulan {
  background-image: url(image/moroccan-flower.png);
  background-repeat: repeat;
  padding: 60px 20px;
  text-align: center;
}

.poin-unggulan .section-title {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--hover-color);
  text-align: center;
  font-family: "Roboto Slab";
  padding: 12px 30px;
  color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin: 0 auto 50px auto;
  font-size: 1.8rem;
  line-height: 1.3;
}

.unggulan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.unggulan-item {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
  padding: 30px;
  width: calc(33% - 40px);
  box-sizing: border-box;
  text-align: center;
  transition: transformm 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unggulan-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.unggulan-item .icon-wrapper {
  background-color: var(--hover-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.unggulan-item .icon-wrapper i {
  font-size: 3rem;
  color: white;
}

.unggulan-item h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: var(--hover-color);
  margin: 15px;
}

.unggulan-item p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--hover-color);
  line-height: 1.6;
  margin-bottom: 25px;
  flex-grow: 1;
}

.learn-more-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  transition: var(--background-color) 0.3s ease;
  margin-top: auto;
}

.learn-more-btn:hover {
  background-color: #d68910;
}

.learn-more-btn i {
  margin-left: 8px;
  transition: margin-left 0.3s ease;
}

.learn-more-btn:hover i {
  margin-left: 12px;
}

/* Bagian Banner */

.banner {
  background-color: #fff;
}

.banner a img {
  display: block;
  margin: 0 auto;
  padding: 40px;
  width: 850px;
  height: auto;
}

.banner a {
  text-decoration: none;
}

.banner h1 {
  display: block;
  border-radius: 4px;
  background-color: #e89c22;
  text-align: center;
  font-family: "Robot Slab", sans-serif;
  color: white;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin: 40px 450px 50px 450px;
  font-size: 1.3rem;
}

/* Bagian Info */

.info-utama {
  background-color: var(--secondary-color);
  padding: 20px 0;
}

.info-menu {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.info-item i {
  font-size: 32px;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.info-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.info-item:hover i,
.info-item:hover a {
  color: var(--hover-color);
}

/* Bagian Akreditasi */

.akreditasi {
  background-color: #fff;
}

/* =================== */
/* Media Query untuk tampilan mobile */
/* ==================== */

/* Media Query Navbar */
@media (max-width: 768px) {
  .main-nav-container {
    justify-content: space-between;
  }

  /* Tampilkan humburger/close icon */
  .menu-toggle {
    display: block;
    z-index: 1002;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  /* Sembunyikan navbar desktop */
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: var(--background-color);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1001;
    overflow-y: auto;
    padding-top: 80px;
  }

  .navbar.active {
    right: 0;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar ul li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .navbar ul li:last-child {
    border-bottom: none;
  }

  .navbar ul li a {
    padding: 15px 10px;
    font-size: 18px;
    color: var(--secondary-color);
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .navbar ul li a i {
    font-size: 1rem;
  }

  .navbar ul li a:hover {
    background-color: var(--hover-color);
    color: white;
  }

  .navbar ul li a::after {
    display: block;
  }

  .navbar ul li a.active {
    background-color: var(--hover-color);
    color: white;
  }

  .navbar ul li:hover ul.dropdown {
    display: none;
  }

  .navbar ul li ul.dropdown li:hover ul.dropdown-kontak {
    display: none;
  }

  /* Gaya menu dropdown untuk tampilan mobile */
  .navbar ul li ul.dropdown,
  .navbar ul li ul.dropdown li ul.dropdown-kontak {
    position: static;
    display: none;
    background-color: var(--background-color);
    width: 100%;
    border: none;
    box-shadow: none;
    padding-left: 20px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
  }

  .navbar ul li ul.dropdown.show,
  .navbar ul li ul.dropdown li ul.dropdown-kontak.show {
    display: flex;
    max-height: 500px;
  }

  .navbar ul li ul.dropdown li a,
  .navbar ul li ul.dropdown li ul.dropdown-kontak li a {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--secondary-color);
  }

  .navbar ul li ul.dropdown li a:hover,
  .navbar ul li ul.dropdown li ul.dropdown-kontak li a:hover {
    background-color: var(--hover-color);
  }
}

/* Media Query Landing Page */

/* Media Query Poin Unggulan */
@media (max-width: 992px) {
  .unggulan-item {
    width: calc(50% - 30px);
  }
  .poin-unggulan .section-title {
    font-size: 1.6rem;
    margin: 0 auto 40px auto;
  }
}

@media (max-width: 768px) {
  .poin-unggulan .section-title {
    font-size: 1.4rem;
    padding: 10px 22px;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 576px) {
  .unggulan-item {
    width: 90%;
    margin-bottom: 20px;
  }
  .poin-unggulan {
    padding: 40px 15px;
  }
  .poin-unggulan .section-title {
    font-size: 1.2rem;
    padding: 8px 18px;
    margin: 0 auto 25px auto;
  }
  .unggulan-item h2 {
    font-size: 1.3rem;
  }
  .unggulan-item p {
    font-size: 0.9rem;
  }
  .unggulan-item .icon-wrapper {
    width: 60px;
    height: 60px;
  }
  .unggulan-item .icon-wrapper i {
    font-size: 2.5rem;
  }
}

/* Media Query Info */
